@import url('https://fonts.googleapis.com/css?family=Anton|Manjari&display=swap');

body {
  font-family: 'Manjari', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  line-height: 2em;
  margin: 0 auto;
  color: #05B8CC;
  letter-spacing: 1.5px;
}

h2 {
  text-align: center;
  font-size: 3em;
}

h3 {
  text-align: center;
}

#main {
  margin-top: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


img {
  margin: 0 0 1em 1em;
  max-width: 40%;
}

a img {
  max-width: 100%;
}

a {

  border-bottom: 2px solid #ffff89;
  padding-bottom: 0.5px;
  text-decoration: none;
  color: black;
}

li {
  background-color: beige;
  padding: 1em;
  margin: 1em;
  list-style-type:none;
  margin-bottom: 2em;
}

iframe {
  margin-bottom: 1em;
}

.name {
  font-weight: bold;
}

.author {
  font-style: italic;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.lyrics {
  border: 1px solid gray;
  padding: 1em;
  max-width: 40%;
  background-color: white;
  margin: 0;
  margin-bottom: 1em;
}

.translation {
  font-style: italic;
  font-family: serif;
  color: #0493a3;
}

nav {
  margin-bottom: 1em;
  margin-top: 0;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav ul li{
  float: right;
  margin: 0;
  padding: 0;
  background-color: #333;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  margin: 0;
}

nav ul li:hover {
  background-color: black;
}

a.active {
  color: beige;
  font-weight: bold;
}

#featured_performers {
  margin-top: 6em;
  padding-top: 2em;

}
#featured_performers li {
  background-color: #e2f3f6;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#featured_performers p {
  font-size: 1.5em;
  line-height: 2em;
  padding-left: 1em;
}

#musical_numbers {
  margin-top: 6em;
  padding-top: 2em;
}

#musical_numbers li div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
}

#musical_numbers li div a {
  max-width: 40%;
}

footer {
  text-align: center;
}
